<app-navbar></app-navbar>
<div class="about-asl-page">
    <div class="about-asl-container">
        <h1>What is ASL?</h1>
        <p>
          American Sign Language (ASL) is a complete, natural language that is primarily used by the Deaf and hard-of-hearing community in the United States and parts of the world.
          ASL is a visual-gestural language with its own grammar and syntax, and it is not based on spoken English.
        </p>
        <p>
          ASL relies on handshapes, movements, facial expressions, and body postures to convey meaning. It is a rich and expressive language that allows for complex communication.
        </p>
        <p>As a virtual language, ASL has also gained popularity as a means of communication for individuals with certain language and communication disorders and for people seeking an alternative mode of communication.</p>
        <p>This website is capable of recognizing ASL English alphabets.</p>
        <p>To learn more, visit <a href="https://en.wikipedia.org/wiki/American_Sign_Language">ASL-Website</a></p>
    </div>
</div>
